body {
    background-size: cover;
}
.heading {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.button {
    width: 40%;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.copy_right_footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
}