body {
    background-size: cover;
}
.heading {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.button {
    width: 40%;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.bdr {
    font-size: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.back_btn {
    margin-left: 1350px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
canvas {
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    margin-top: 120px;
}